/* Styles untuk elemen-elemen kontak */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .contact-section {
    padding: 10px 0;
    background-color: #fff;
  }
  
  .contact-form-wrapper {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
  }
  
  .single-input {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form-button button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
  }